@keyframes snake-border {
  0% {
    transform: scaleX(1) scaleY(1) rotate(0deg);
  }
  100% {
    transform: scaleX(1.05) scaleY(1.05) rotate(360deg);
  }
}

.animate-snake-border {
  animation: snake-border 4s linear infinite;
}