@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ek özel stiller */
html {
  scroll-behavior: smooth;
}
@keyframes snake-border {
  0% {
    transform: scaleX(1);
    background-position: 0 0;
  }
  50% {
    transform: scaleX(-1);
    background-position: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    background-position: 0 0;
  }
}

.animate-snake-border {
  animation: snake-border 3s infinite;
  background-size: 200% 200%;
  background-position: 0 0;
}

/* Yılan animasyonunun soldan sağa doğru geçişi */
@keyframes snake-border-left-to-right {
  0% {
    width: 0%;
    left: 0;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

/* Yılan animasyonu sınıfı */
.animate-snake-border-left-to-right {
  animation: snake-border-left-to-right 1s ease-in-out infinite;
}
html {
  scroll-behavior: smooth;
}
